// we are not using this .flex-layout class anywhere in our html,
// we just create it so that we can extend it in other rules/selector.
// However, when the sass is compiled its still generates a class for
// this in final CSS output file which we don't need. when this is the
// case then we can change this into placeholder rule by replacing '.'
// with '%' in the selector rule.
%flex-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

// basic navbar rule
.navbar {
    // To add .flex-layout class properties inside .navbar class, 
    // we can use @extend rule which will basically inherit the
    // properties of .flex-layout into the .navbar class.
    @extend %flex-layout;
    padding: $base-padding $base-padding * 2;
    box-shadow: $base-box-shadow;

    .site-title {
        font-size: $font-size-lg;
    }

    .container {
        @extend %flex-layout;
    }
}

@each $key, $val in $colors {
    .navbar-#{$key} {
        @extend .navbar;
        background-color: $val;
    }
}